*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: rgb(225, 225, 225);
}

.heart{
	height: 100px;
	width: 100px;
	background: red;
	position: relative;
	transform: rotate(-45deg) scale(1);
	animation: pulse 1s linear infinite;
}

@keyframes pulse{
	0%{
	transform: rotate(-45deg) scale(1);
		
	}

	10%{
	transform: rotate(-45deg) scale(1.1);
		
	}

	20%{
	transform: rotate(-45deg) scale(0.9);

	}

	30%{
	transform: rotate(-45deg) scale(1.2);

	}

	40%{
	transform: rotate(-45deg) scale(1);

	}

	50%{
	transform: rotate(-45deg) scale(1.05);

	}

	60%{
	transform: rotate(-45deg) scale(0.95);

	}

	60%{
	transform: rotate(-45deg) scale(1);

	}
}
.heart::after{
	background: inherit;
	height: 100px;
	width: 100px;
	content: '';
	position: absolute;
	top: -50%;
	left: 0px;
	border-radius: 50%;
}

.heart::before{
	background: inherit;
	height: 100px;
	width: 100px;
	content: '';
	position: absolute;
	top: 0px;
	right: -50%;
	border-radius: 50%;
}

.fancy{
	color: #fff;
	text-align: center;
	line-height: 30vh;
	font-family: sans-serif;
	font-size: 4rem;
}

span{
	display: inline;
	transition: all .3s ease;
	transform: translateX(50px);
}

span.fade{
	transform: translateY(0px);
	color: red;
}

.celeb{
	color: purple;
	text-align: center;
	margin: 60px;
	font-family: sans-serif;
	font-size: 4rem;
	animation: 3s slidein-right;

}

@keyframes slidein-right {
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateX(0%);
	}
	
}


@media screen and ( max-width: 400px) {


	body{
		margin: 0;
		padding: 0;
		justify-content: flex-start;
	}

	.fancy{
		margin: 10px;
		font-size: 2.2rem;
	}

	.celeb{
		margin: 30px;
		font-size: 2rem;
	}
}